#carsel{
    margin-top: 80px;
}
.top{
    background: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.carousel-item .details h2{
    font-size: 40px;
    font-weight: 700;
}
.carousel-item .details h3{
    font-size: 32px;
    font-weight: 700;
    color: #FF136F;
}
.but {
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #ffffff;
    font-size: 17px;
    padding: 8px 25px;
    border-radius: 8px;
    margin-top: 15px;
    border: none;
}
.carousel-inner {
    border-radius: 6px;
  }



  /* ===========carosel style end ========= */

  #catogori{
    margin-top: 80px;
  }
  .cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
    color: #ffffff;
  }
  
  .cat1{
    background: #FF9C35;
    
  }
  .cat1 img{
    width: 150px;
  }
  .cat2{
    background: #FF589B;
  }
  .cat2 img{
    width: 150px;
  }
  .cat3{
    background: #4289FF;
  }
  .cat3 img{
    width: 150px;
  }

 /* ===========catagoris style end ========= */


 #shoes{
    margin-top: 80px;
 }

 #shoes .card{
    border: none;
    -webkit-box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    padding: 25px 10px;
 }
 /* ===========shoes style end ========= */
 .card{
    border-radius: 20px;
 }
 #bag{
    margin-top: 80px;
 }

 #bag .but{
    margin-top: 0px;
 }
 #bag .card{
    border: none;
    -webkit-box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    box-shadow: 15px 14px 20px -7px rgba(0,0,0,0.35);
    padding: 25px 10px;
 }
 #bag .card-footer{
    border: none;
    background: none;
 }
 /* ===========shoes style end ========= */
 #subcribe{
    margin-top: 80px;    
 }

.subcribe{
    background: #FEEAE9;
    height: 300px !important;
   border-radius: 20px;
 }
 .subcribe p{
    color: #707070;
 }
 /* ===========subcribe style end ========= */

 footer{
    text-align: center;
    margin-top: 60px;


 }